@charset "UTF-8";

body {
    font-size: 16px;
    background-color: #fff;
    color: #999999;
    font-family: Roboto, sans-serif;
    line-height: 28px;
    font-weight: 300
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    color: #18150d;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

h1 {
    font-size: 32px;
    line-height: 42px
}

h2 {
    font-size: 24px;
    line-height: 32px
}

h3 {
    font-size: 18px;
    line-height: 28px
}

h4 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

p {
    margin: 0 0 20px
}

p:last-child {
    margin-bottom: 0
}

ol,
ul {
    margin: 0
}

a {
    color: #aa9144;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

a:focus,
a:hover {
    text-decoration: none;
    color: #8e7424
}

b,
strong {
    font-weight: 400
}

.listnone {
    list-style: none;
    padding: 0
}

.lead {
    font-size: 21px;
    color: #3c3c3c;
    font-weight: 400
}

.italic {
    font-style: italic
}

.small-text {
    color: #b4b1ac;
    font-size: 12px
}

.text-caps {
    text-transform: uppercase;
    letter-spacing: 2px
}

::selection {
    background: #222120;
    color: rgb(212, 211, 211)
}

h3 small {
    font-weight: 400;
    line-height: 1;
    color: #aa9144;
    font-size: 14px
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #f1f3f8
}

blockquote {
    padding: 10px 20px;
    margin: 0;
    font-size: 21px;
    line-height: 32px;
    color: #3c3c3c;
    font-style: italic;
    border-left: 5px solid #aa9144
}

.alignnone {
    margin: 5px 20px 20px 0
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto
}

.alignright {
    float: right;
    margin: 0 0 30px 30px
}

.alignleft {
    float: left;
    margin: 0 30px 0 0
}

a img.alignright {
    float: right;
    margin: 0 0 30px 30px
}

a img.alignnone {
    margin: 5px 20px 20px 0
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px
}

.control-label {
    color: #474747;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase
}

.form-control {
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border: 1px solid #dcd9d3;
    background-image: none;
    border-radius: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, .075);
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .075);
    margin-bottom: 15px
}

.form-control:focus {
    border-color: #bab6ae;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .075), 0 0 8px rgba(255, 255, 255, .6);
    box-shadow: inset 0 3px 3px rgba(255, 255, 255, .075), 0 0 8px rgba(235, 237, 238, .6);
    background-color: #fffefd
}

.textarea.form-control {
    background-color: #f6f8f9;
    height: auto
}

.form-news-letter .form-control {
    float: left;
    width: 75%;
    margin-right: 10px
}

.form-group {
    margin-bottom: 10px
}

.get-in-touch .form-control {
    margin-bottom: 10px
}

.btn {
    display: inline-block;
    padding: 14px 30px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.8;
    ;
    text-align: center;
    background-color: #1a1a1a;
    border: none;
    text-transform: uppercase;
    /*
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
*/
    border-radius: 15px;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

.btn-default {
    color: #fff;
    background-color: #aa9144
}

.btn-default:hover {
    color: #fff;
    background-color: #8e7424;
    border-color: #8e7424
}

.btn-default.focus,
.btn-default:focus {
    color: #fff;
    background-color: #8e7424;
    border-color: #8e7424
}

.btn-primary {
    background-color: #2d281a;
    color: #fff
}

.btn-primary:hover {
    background-color: #18150d;
    color: #fff
}

.btn-white {
    color: #aa9144;
    background-color: #fff;
    border: 1px solid #fff
}

.btn-white:hover {
    background-color: #8e7424;
    border-color: #8e7424;
    color: #fff
}

.btn-white.focus,
.btn-white:focus {
    background-color: #8e7424;
    border-color: #8e7424;
    color: #fff
}

.btn-link {
    color: #98989c;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    border-bottom: 1px solid #98989c;
    padding-bottom: 2px
}

.btn-link:hover {
    color: #aa9144;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid #aa9144
}

.btn-lg {
    font-size: 14px;
    padding: 20px 30px
}

.btn-sm {
    font-size: 12px;
    padding: 5px 10px
}

.btn-xs {
    font-size: 12px;
    padding: 5px 7px
}

.space-small {
    padding-top: 40px;
    padding-bottom: 40px
}

.space-medium {
    padding-top: 100px;
    padding-bottom: 100px
}

.space-large {
    padding-top: 120px;
    padding-bottom: 120px
}

.space-ex-large {
    padding-top: 140px;
    padding-bottom: 140px
}

.mb0 {
    margin-bottom: 0
}

.mb10 {
    margin-bottom: 10px
}

.mb20 {
    margin-bottom: 20px
}

.mb30 {
    margin-bottom: 30px
}

.mb35 {
    margin-bottom: 35px
}

.mb40 {
    margin-bottom: 40px
}

.mb60 {
    margin-bottom: 60px
}

.mb80 {
    margin-bottom: 80px
}

.mb100 {
    margin-bottom: 100px
}

.mt0 {
    margin-top: 0
}

.mt10 {
    margin-top: 10px
}

.mt20 {
    margin-top: 20px
}

.mt30 {
    margin-top: 30px
}

.mt40 {
    margin-top: 40px
}

.mt60 {
    margin-top: 60px
}

.mt70 {
    margin-top: 70px
}

.mt80 {
    margin-top: 80px
}

.mt100 {
    margin-top: 100px
}

.mt-20 {
    margin-top: -20px
}

.mt-40 {
    margin-top: -40px
}

.mt-60 {
    margin-top: -60px
}

.mt-80 {
    margin-top: -80px
}

.nopadding {
    padding: 0
}

.nopr {
    padding-right: 0
}

.nopl {
    padding-left: 0
}

.pinside10 {
    padding: 10px
}

.pinside20 {
    padding: 20px
}

.pinside30 {
    padding: 30px
}

.pinside40 {
    padding: 40px
}

.pinside50 {
    padding: 50px
}

.pinside60 {
    padding: 60px
}

.pinside80 {
    padding: 80px
}

.pinside130 {
    padding: 130px
}

.pdt10 {
    padding-top: 10px
}

.pdt20 {
    padding-top: 20px
}

.pdt30 {
    padding-top: 30px
}

.pdt40 {
    padding-top: 40px
}

.pdt60 {
    padding-top: 60px
}

.pdt80 {
    padding-top: 80px
}

.pdb10 {
    padding-bottom: 10px
}

.pdb20 {
    padding-bottom: 20px
}

.pdb30 {
    padding-bottom: 30px
}

.pdb40 {
    padding-bottom: 40px
}

.pdb60 {
    padding-bottom: 60px
}

.pdb80 {
    padding-bottom: 80px
}

.pdl10 {
    padding-left: 10px
}

.pdl20 {
    padding-left: 20px
}

.pdl30 {
    padding-left: 30px
}

.pdl40 {
    padding-left: 40px
}

.pdl60 {
    padding-left: 60px
}

.pdl80 {
    padding-left: 80px
}

.pdr10 {
    padding-right: 10px
}

.pdr20 {
    padding-right: 20px
}

.pdr30 {
    padding-right: 30px
}

.pdr40 {
    padding-right: 40px
}

.pdr60 {
    padding-right: 60px
}

.pdr80 {
    padding-right: 80px
}

.bg-light {
    background-color: #f4f1ec
}

.bg-primary {
    background-color: #aa9144
}

.bg-default {
    background-color: #f4f1ec
}

.bg-white {
    background-color: #fff
}

.outline {
    border: 1px solid #e5e7ec
}

.title {
    color: #18150d
}

.small-title {
    color: #84837f;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 20px
}

.text-white {
    color: #fff
}

.well-block {
    background-color: #fff;
    padding: 40px
}

.feature-icon {
    margin-bottom: 20px
}

.feature-left .feature-icon {
    float: left
}

.feature-left .feature-content {
    padding-left: 80px
}

.video-section {
    position: relative
}

.video-img {
    position: relative
}

.video-img img {
    width: 100%
}

.video-action {
    position: absolute;
    top: 40%;
    left: 47%
}

.bullet {
    position: relative;
    padding-left: 15px;
    color: #78807e;
    line-height: 32px
}

.bullet-double-right li:before {
    font-family: FontAwesome;
    display: block;
    position: absolute;
    left: 0;
    width: 13px;
    font-size: 14px;
    color: #78807e;
    content: "\f101"
}

.cta-title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #fff;
    margin-bottom: 10px
}

.cta-text {
    font-size: 18px;
    color: #a2fed4
}

.cta-section {
    padding-top: 140px;
    padding-bottom: 140px;
    background: linear-gradient(rgba(30, 28, 24, .8), rgba(30, 28, 24, .8)), rgba(30, 28, 24, .8) url(../images/landing_1.jpg) no-repeat center;
    background-size: cover
}

.cta-title {
    font-size: 36px;
    color: #fff;
    line-height: 58px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: -1px
}

.cta-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px
}

.imghover {
    display: block;
    position: relative;
    max-width: 100%
}

.imghover::after,
.imghover::before {
    display: block;
    position: absolute;
    content: "";
    text-align: center;
    opacity: 0
}

.imghover::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.imghover::after {
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: -25px 0 0 -25px;
    content: "\f2a8";
    font-family: FontAwesome;
    font-size: 36px
}

.imghover:hover::after,
.imghover:hover::before {
    opacity: 1
}

.imghover:hover::before {
    background: rgba(212, 27, 44, .55)
}

.imghover:hover::after {
    color: #fff
}

[class*=' imghvr-'],
[class^=imghvr-] {
    background: rgba(211, 0, 80, .55)
}

.icon-1x {
    font-size: 18px
}

.icon-2x {
    font-size: 38px
}

.icon-4x {
    font-size: 65px
}

.icon-6x {
    font-size: 88px
}

.icon-8x {
    font-size: 108px
}

.icon-default {
    color: #aa9144
}

.icon-primary {
    color: #474954
}

.icon-secondary {
    color: #fff
}

.icon-white {
    color: #fff
}

.header {
    background-color: #fff;
    z-index: 9999;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px
}

.top-text {
    text-align: right
}

.top-text .text-block {
    padding-left: 20px;
    color: #fff;
    line-height: 18px
}

.hero-section {
    padding-top: 135px;
    padding-bottom: 135px;
    background: linear-gradient(rgba(36, 39, 38, .5), rgba(36, 39, 38, .5)), rgba(36, 39, 38, .5) url(../images/landing_1.jpg) no-repeat center;
    background-size: cover;
    height: 80vh
}

.hero-title {
    font-size: 66px;
    color: #fff;
    line-height: 58px;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: -1px
}

.navigation {
    float: right
}

.is-sticky .header {
    border-bottom: 1px solid #eae7e2
}

#navigation,
#navigation #menu-button,
#navigation ul,
#navigation ul li,
#navigation ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#navigation:after,
#navigation>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

#navigation #menu-button {
    display: none
}

#navigation {
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

#navigation>ul>li {
    float: left
}

#navigation.align-center>ul {
    font-size: 0;
    text-align: center
}

#navigation.align-center>ul>li {
    display: inline-block;
    float: none
}

#navigation.align-center ul ul {
    text-align: left
}

#navigation.align-right>ul>li {
    float: right
}

#navigation>ul>li>a {
    padding: 20px;
    font-size: 13px;
    color: #18150d;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase
}

#navigation>ul>li:hover>a {
    color: #fff;
    background-color: #aa9144
}

#navigation>ul>li.has-sub>a {
    padding-right: 32px
}

#navigation>ul>li.has-sub>a:before {
    position: absolute;
    right: 14px;
    font-family: FontAwesome;
    content: "\f107";
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

#navigation ul ul {
    position: absolute;
    left: -9999px
}

#navigation.align-right ul ul {
    text-align: right
}

#navigation ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

#navigation li:hover>ul {
    left: auto
}

#navigation.align-right li:hover>ul {
    left: auto;
    right: 0
}

#navigation li:hover>ul>li {
    height: 46px
}

#navigation ul ul ul {
    margin-left: 100%;
    top: 0
}

#navigation.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%
}

#navigation ul ul li a {
    padding: 16px;
    width: 170px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background: #aa9144;
    text-transform: uppercase;
    border-bottom: 1px solid #987e2e
}

#navigation ul ul li.last-item>a,
#navigation ul ul li:last-child>a {
    border-bottom: 0
}

#navigation ul ul li a:hover,
#navigation ul ul li:hover>a {
    color: #fff;
    background-color: #aa9144
}

#navigation ul ul li.has-sub>a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

#navigation.align-right ul ul li.has-sub>a:after {
    right: auto;
    left: 11px
}

#navigation ul ul li.has-sub>a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

#navigation.align-right ul ul li.has-sub>a:before {
    right: auto;
    left: 14px
}

#navigation ul ul>li.has-sub:hover>a:before {
    top: 17px;
    height: 0
}

#navigation.small-screen {
    width: 100%
}

#navigation.small-screen ul {
    width: 100%;
    display: none
}

#navigation.small-screen.align-center>ul {
    text-align: left
}

#navigation.small-screen ul li {
    width: 100%;
    border-top: 1px solid #474747
}

#navigation.small-screen li:hover>ul>li,
#navigation.small-screen ul ul li {
    height: auto
}

#navigation.small-screen ul li a,
#navigation.small-screen ul ul li a {
    width: 100%;
    border-bottom: 0;
    padding: 20px 15px
}

#navigation.small-screen>ul>li {
    float: none
}

#navigation.small-screen ul ul li a {
    padding-left: 25px
}

#navigation.small-screen ul ul ul li a {
    padding-left: 35px
}

#navigation.small-screen ul ul li a {
    color: #474747;
    background: 0 0
}

#navigation.small-screen ul ul li.active>a,
#navigation.small-screen ul ul li:hover>a {
    color: #474747
}

#navigation.small-screen ul ul,
#navigation.small-screen ul ul ul,
#navigation.small-screen.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left
}

#navigation.small-screen ul ul>li.has-sub>a:after,
#navigation.small-screen ul ul>li.has-sub>a:before,
#navigation.small-screen>ul>li.has-sub>a:after,
#navigation.small-screen>ul>li.has-sub>a:before {
    display: none
}

#navigation.small-screen #menu-button {
    display: block;
    padding: 15px;
    color: #474747;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700
}

#navigation.small-screen #menu-button:after {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 12px;
    width: 20px;
    border-top: 2px solid #474747;
    border-bottom: 2px solid #474747;
    content: ''
}

#navigation.small-screen #menu-button:before {
    position: absolute;
    top: 21px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #474747;
    content: ''
}

#navigation.small-screen #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #474747;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

#navigation.small-screen #menu-button.menu-opened:before {
    top: 23px;
    background: #474747;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#navigation.small-screen .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #474747;
    height: 53px;
    width: 53px;
    cursor: pointer
}

#navigation.small-screen ul ul .submenu-button {
    height: 34px;
    width: 34px
}

#navigation.small-screen .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 20px;
    width: 8px;
    height: 2px;
    display: block;
    background: #474747;
    content: ''
}

#navigation.small-screen ul ul .submenu-button:after {
    top: 15px;
    right: 13px
}

#navigation.small-screen .submenu-button.submenu-opened:after {
    background: #474747
}

#navigation.small-screen .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 23px;
    display: block;
    width: 2px;
    height: 8px;
    background: #474747;
    content: ''
}

#navigation.small-screen ul ul .submenu-button:before {
    top: 12px;
    right: 16px
}

#navigation.small-screen .submenu-button.submenu-opened:before {
    display: none
}

#navigation.small-screen.select-list {
    padding: 5px
}

.page-header {
    background: linear-gradient(rgba(36, 39, 38, .5), rgba(36, 39, 38, .5)), rgba(36, 39, 38, .5) url(../images/landing_1.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    border-bottom: none;
    padding-bottom: 0
}

.page-caption {
    padding: 120px 0;
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center
}

.page-title {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -1px
}

.page-breadcrumb .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase
}

.content {
    padding-top: 60px;
    padding-bottom: 60px
}

.footer {
    background-color: #1e1c18;
    padding-top: 60px;
    padding-bottom: 60px
}

.footer-block {
    background-color: #282725;
    padding: 40px 40px 10px 40px;
    border-radius: 10px
}

.footer-widget p {
    color: #747474
}

.footer-widget .widget-title {
    color: #fff;
    font-weight: 600;
    padding-bottom: 20px;
    margin-bottom: 30px
}

.footer-widget li a {
    color: #747474;
    line-height: 34px
}

.footer-widget li a:hover {
    color: #aa9144
}

.footer-social ul li a i {
    padding-right: 10px;
    width: 30px
}

.footer-social ul li a:hover i {
    color: #aa9144
}

.footer .contact li {
    position: relative;
    padding-left: 40px;
    display: block;
    margin-bottom: 8px;
    padding: 0 0 8px 40px;
    color: #747474
}

.footer .contact li i {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 30px;
    font-size: 16px;
    text-align: center
}

.widget-newsletter .form-control {
    height: 48px;
    color: #eee;
    background-color: #393836;
    border: none;
    box-shadow: none;
    font-size: 14px;
    border-radius: 30px 0 0 30px
}

.widget-newsletter button {
    height: 48px
}

.tiny-footer {
    padding-top: 19px;
    padding-bottom: 9px;
    font-size: 12px;
    color: #56575e;
    text-align: left;
    text-transform: uppercase;
    text-align: center
}

.copyright-content {
    padding: 12px;
    color: #747474
}

.about-text {
    line-height: 40px
}

.about-contact {
    font-size: 18px;
    color: #8c9292;
    font-weight: 600;
    margin-left: 5px
}

.counter_box {
    border-bottom: 1px solid #eee;
    padding: 40px 0
}

.counter_number {
    font-weight: 900;
    margin-bottom: 0
}

.counter_text {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px
}

.service-block {
    margin-bottom: 30px
}

.service-img {
    margin-bottom: 30px
}

.service-img img {
    width: 100%
}

.service-title {
    font-size: 20px;
    color: #212330;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px
}

.price {
    font-size: 24px;
    color: #aa9144;
    font-weight: 600;
    font-family: Montserrat, sans-serif
}

.sidenav {
    background-color: #fff;
    margin-bottom: 30px
}

.sidenav li {
    position: relative
}

.sidenav li:last-child {
    margin-bottom: 0
}

.sidenav li a {
    display: block;
    line-height: 14px;
    color: #2b2d2c;
    font-weight: 500;
    font-size: 14px;
    background-color: #dfddd7;
    padding: 20px;
    margin-bottom: 1px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif
}

.sidenav li a:hover {
    color: #fff;
    background-color: #aa9144
}

.sidenav li a.active,
.sidenav ul li a.active .sidenav ul li i {
    color: #fff;
    background-color: #aa9144
}

.sidenav li a:focus {
    color: #bb0349
}

.sidenav li.active a:before {
    color: #bb0349
}

.arrow-circle-right li:last-child {
    border-bottom: 0 solid #6f4a52
}

.arrow-circle-right li a:before {
    margin-right: 10px;
    font-family: FontAwesome;
    position: absolute;
    left: 20px;
    width: 20px;
    font-size: 16px;
    color: #5a5a5a;
    content: "\f105";
    font-weight: 400
}

.quote-left {
    position: absolute;
    font-size: 100px;
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    color: #aa9144;
    line-height: 0;
    top: 52px
}

.testimonial-block {
    margin-bottom: 40px
}

.testimonial-content {
    margin-bottom: 30px;
    height: 100px;

}

.testimonial-info {
    line-height: 1
}

.testimonial-text {
    font-size: 21px;
    font-style: italic;
    line-height: 32px;
    color: #333
}

.testimonial-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px
}

.testimonial-meta {
    font-size: 13px;
    text-transform: uppercase;
    color: #aa9144;
    padding-right: 10px;
    font-weight: 400
}

.contact-block ul li {
    border: 1px solid #f1f2f4;
    padding-top: 30px;
    padding-bottom: 30px
}

.contact-block ul li i {
    color: #aa9144;
    float: left;
    padding: 0
}

.contact-info {
    background-color: #cda34d;
    color: #fff
}

.contact-info ul {
    padding-left: 0
}

.contact-info li {
    position: relative;
    padding-left: 70px;
    margin-bottom: 30px;
    border-bottom: 1px solid #b69042;
    padding-bottom: 29px
}

.contact-info li:last-child {
    border-bottom: none
}

.contact-info li i {
    display: block;
    position: absolute;
    left: 0;
    color: #fff
}

.map {
    height: 400px
}

.contact-social {
    text-align: center
}

.contact-social a i {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    background-color: #8e7424;
    text-align: center;
    padding: 7px;
    line-height: 1.2;
    font-size: 14px;
    color: #c12d17
}

.contact-social a i:hover {
    color: #8e7424
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143
}

.post-block,
.post-quote {
    position: relative;
    background-color: #f4f1ec;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px
}

.post-holder {
    position: relative;
    margin-bottom: 30px
}

.post-img {
    position: relative
}

.post-img img {
    border-radius: 10px;
    width: 80%;
    height: 60%;
}

.post-content {
    padding-top: 40px;
    padding-right: 40px
}

.meta {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif
}

.meta-author,
.meta-cat,
.meta-comment,
.meta-date {
    display: inline-block;
    margin-right: 10px
}

.post-sticky {
    background: url(../images/sticky.png) no-repeat;
    position: absolute;
    right: 35px;
    bottom: 35px;
    width: 30px;
    height: 30px;
    color: #fff
}

.post-quote {
    background-color: #aa9144
}

.post-quote blockquote {
    color: #fff;
    font-size: 34px;
    line-height: 42px
}

.related-post-block {
    border-top: 1px solid #eee;
    padding-top: 29px;
    margin-top: 30px;
    margin-bottom: 30px
}

.related-post {
    margin-bottom: 30px
}

.related-post-img {
    margin-bottom: 30px
}

.related-post-img img {
    border-radius: 10px
}

.post-navigation {
    margin-bottom: 30px
}

.nav-next,
.nav-previous {
    border: 1px solid #f4f1ec;
    padding: 20px
}

.next-link,
.prev-link {
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
    font-size: 12px
}

.author-post {
    margin-bottom: 30px;
    background: #f4f1ec;
    padding: 30px;
    border-radius: 10px
}

.author-img img {
    width: 100%;
    border-radius: 10px
}

.pagination>li>span,
.st-pagination .pagination>li>a {
    position: relative;
    float: left;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #3c3c3c;
    text-decoration: none;
    font-size: 12px;
    background-color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 8px 13px;
    border: 1px solid #efefef;
    border-radius: 100%
}

.st-pagination .pagination>li>a.active,
.st-pagination .pagination>li>a:focus,
.st-pagination .pagination>li>a:hover,
.st-pagination .pagination>li>span:focus,
.st-pagination .pagination>li>span:hover {
    z-index: 2;
    color: #fff;
    background-color: #aa9144;
    border: 1px solid #f4f1ec
}

.st-pagination .pagination>li:first-child>a,
.st-pagination .pagination>li:first-child>span {
    margin-left: 0;
    border-radius: 100%
}

.st-pagination .pagination>li:last-child>a,
.st-pagination .pagination>li:last-child>span {
    border-radius: 100%
}

.st-pagination .pagination>.active>a,
.st-pagination .pagination>.active>a:focus,
.st-pagination .pagination>.active>a:hover,
.st-pagination .pagination>.active>span,
.st-pagination .pagination>.active>span:focus,
.st-pagination .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #aa9144;
    border: 1px solid #aa9144
}

.widget {
    margin-bottom: 10px;
    background-color: #f4f1ec;
    padding: 30px;
    border-radius: 10px
}

.widget-title {
    margin-bottom: 20px
}

.widget ul li {
    margin-bottom: 16px;
    line-height: 18px
}

.widget ul li:last-child {
    margin-bottom: 0
}

.widget ul li a {
    color: #474747
}

.widget ul li a.active {
    color: #aa9144
}

.widget ul li a:hover {
    color: #aa9144
}

.widget-search .input-group-addon {
    color: #fff;
    text-align: center;
    background-color: #aa9144;
    border: 1px solid #aa9144;
    border-left: transparent
}

.widget-recent-post li {
    margin-bottom: 10px;
    border-bottom: 1px solid #cecbc7;
    padding-bottom: 10px
}

.widget-recent-post li:last-child {
    border-bottom: 1px solid transparent
}

.widget-recent-post .meta {
    margin-bottom: 0
}

.recent-post-img {
    margin-bottom: 20px
}

.recent-title {
    font-size: 12px;
    line-height: 18px
}

.widget-tags a {
    border: 1px solid #cecbc7;
    padding: 2px 10px;
    display: inline-block;
    background-color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-right: 3px;
    border-radius: 50px;
    color: #18150d
}

.widget-tags a:hover {
    background-color: #aa9144;
    color: #fff;
    border: 1px solid #aa9144
}

.social-circle a {
    height: 33px;
    width: 33px;
    background-color: #aa9144;
    color: #fff;
    border-radius: 100%;
    padding: 5px;
    display: inline-block;
    text-align: center;
    margin-right: 10px
}

.social-circle a:hover {
    background-color: #8e7424
}

.widget-call-to-action {
    background-color: #eddba5
}

.widget-call-to-action .widget-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 28px
}

.widget-call-to-action p {
    font-size: 18px;
    color: #18150d
}

.team-block {
    margin-bottom: 20px
}

.team-img {
    margin-bottom: 20px
}

.team-content {
    text-align: center
}

.team-title {
    margin-bottom: 0
}

.team-meta {
    text-transform: uppercase;
    font-size: 12px;
    color: #aa9144;
    font-weight: 500;
    letter-spacing: 1px
}

.comments-title {
    border-bottom: 1px solid #f4f1ec;
    padding-bottom: 20px;
    margin-bottom: 30px
}

.comment-list {
    list-style: none;
    padding: 0
}

.comment-body {
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f4f1ec;
    padding-bottom: 20px
}

.comment-author img {
    float: left
}

.comment-info {
    padding-left: 120px
}

.comment-header {
    margin-bottom: 0
}

.user-title {
    font-size: 15px;
    color: #474747;
    margin-bottom: 10px;
    font-weight: 500
}

.comment-meta-date {
    color: #98989c;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500
}

.comment-content {
    color: #6f6f6f;
    margin-bottom: 20px
}

.childern {
    padding-left: 100px;
    list-style: none
}

.childern .comment-body {
    background-color: #f4f1ec;
    padding: 20px;
    border-radius: 10px
}

.childern .comment-info {
    padding-left: 120px
}

.leave-comments {
    margin-top: 30px;
    background-color: #f4f1ec;
    padding: 40px;
    border-radius: 10px
}

.leave-comments .control-label {
    color: #474747;
    font-weight: 600;
    font-size: 13px
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(212, 27, 44, 100) url(../images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s
}

.cd-top.cd-fade-out,
.cd-top.cd-is-visible,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s
}

.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1
}

.cd-top.cd-fade-out {
    opacity: .5
}

.no-touch .cd-top:hover {
    background-color: #e70359;
    opacity: 1
}

.box-default-color {
    background-color: #aa9144;
    height: 160px;
    width: 160px
}

.box-primary-color {
    background-color: #18150d;
    height: 160px;
    width: 160px
}

.box-heading-color {
    background-color: #18150d;
    height: 160px;
    width: 160px
}

.box-secondary-color {
    background-color: #6f6f6f;
    height: 160px;
    width: 160px
}

.box-bg-color {
    background-color: #eddba5;
    height: 160px;
    width: 160px
}

@media only screen and (max-width :1200px) {
    .navigation {
        float: none
    }

    .hero-title {
        font-size: 25px;
        line-height: 40px
    }

    .hero-section {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .comment-info {
        padding-left: 100px
    }

    .cta-title {
        font-size: 26px;
        line-height: 40px
    }

    .cta-section {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .footer-widget {
        margin-bottom: 20px
    }

    .footer-widget .widget-title {
        margin-bottom: 0
    }

    .page-title {
        font-size: 20px
    }

    .page-caption {
        padding: 80px 0
    }

    .childern .comment-info {
        padding-left: 90px
    }

    .childern {
        padding-left: 0;
        list-style: none
    }
}

@media only screen and (max-width :992px) {
    .navigation {
        float: none
    }

    .hero-title {
        font-size: 25px;
        line-height: 40px
    }

    .hero-section {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .comment-info {
        padding-left: 100px
    }

    .cta-title {
        font-size: 26px;
        line-height: 40px
    }

    .cta-section {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .footer-widget {
        margin-bottom: 20px
    }

    .footer-widget .widget-title {
        margin-bottom: 0
    }

    .page-title {
        font-size: 20px
    }

    .page-caption {
        padding: 80px 0
    }

    .childern .comment-info {
        padding-left: 90px
    }

    .childern {
        padding-left: 0;
        list-style: none
    }
}

@media only screen and (max-width :768px) {
    .navigation {
        float: none
    }

    .hero-title {
        font-size: 25px;
        line-height: 40px
    }

    .hero-section {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .comment-info {
        padding-left: 100px
    }

    .cta-title {
        font-size: 26px;
        line-height: 40px
    }

    .cta-section {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .footer-widget {
        margin-bottom: 20px
    }

    .footer-widget .widget-title {
        margin-bottom: 0
    }

    .page-title {
        font-size: 20px
    }

    .page-caption {
        padding: 80px 0
    }

    .childern .comment-info {
        padding-left: 90px
    }

    .childern {
        padding-left: 0;
        list-style: none
    }
}

@media only screen and (max-width :480px) {
    .navigation {
        float: none
    }

    .hero-title {
        font-size: 25px;
        line-height: 40px
    }

    .hero-section {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .comment-info {
        padding-left: 100px
    }

    .cta-title {
        font-size: 26px;
        line-height: 40px
    }

    .cta-section {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .footer-widget {
        margin-bottom: 20px
    }

    .footer-widget .widget-title {
        margin-bottom: 0
    }

    .page-title {
        font-size: 20px
    }

    .page-caption {
        padding: 80px 0
    }

    .childern .comment-info {
        padding-left: 90px
    }

    .childern {
        padding-left: 0;
        list-style: none
    }
}

@media only screen and (max-width :320px) {
    .navigation {
        float: none
    }

    .hero-title {
        font-size: 36px;
        line-height: 40px;
    }

    .hero-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .comment-info {
        padding-left: 100px
    }

    .cta-title {
        font-size: 26px;
        line-height: 40px
    }

    .cta-section {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .footer-widget {
        margin-bottom: 20px
    }

    .footer-widget .widget-title {
        margin-bottom: 0
    }

    .page-title {
        font-size: 20px
    }

    .page-caption {
        padding: 80px 0
    }

    .childern .comment-info {
        padding-left: 90px
    }

    .childern {
        padding-left: 0;
        list-style: none
    }
}

.logo-sizing {
    height: 100px;
    width: 105px;
}


form#login-form {
    background: #fff;
    width: 40em;
    margin: 2em auto;
    overflow: hidden;
    position: fixed;
    top: 20vh;
    left: 30vw;
    z-index: 999;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    -moz-box-shadow: 0 0 0.2em #000;
    -webkit-box-shadow: 0 0 0.2em #000;
    box-shadow: 0 0 0.2em #000;
}

form#login-form div.heading {
    background: #f85f64;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5em;
}

form#login-form div.left {
    width: 50%;
    float: left;
    padding: 1.7em 1.5em 2.5em 1.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form#login-form div.right {
    width: 50%;
    float: right;
    padding: 1.7em 1.5em 2.5em 1.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form#login-form:before {
    content: 'or';
    color: gray;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 0.5em;
    width: 0.5em;
    left: -1.5em;
    top: 1.2em;
    z-index: 900;
}

form#login-form:after {
    content: '';
    position: absolute;
    background: rgba(128, 128, 128, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 7.25em;
    width: 0.1em;
    left: -0.85em;
    top: -6.8em;
    -moz-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
    -webkit-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
    box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
}

div.left label {
    display: inline-block;
    color: gray;
    font-size: 1.1em;
    margin-top: 0.6em;
}

div.left input[type="email"],
div.left input[type="password"] {
    border: 0.1em solid #dfdfdf;
    padding: 1em;
    margin: 0.6em 0;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    -moz-box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
    -webkit-box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
    box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

div.left input[type="email"]:focus,
div.left input[type="password"]:focus {
    outline: none;
    border: 0.1em solid #bdbdbd;
}

div.left input[type="submit"] {
    background: #f85f64;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    padding: 1.2em;
    overflow: hidden;
    border: none;
    letter-spacing: 0.1em;
    margin: 0.5em 0;
    font-weight: bold;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

div.left input[type="submit"]:hover {
    background: rgba(248, 95, 100, 0.8);
}

div.right div.connect {
    color: gray;
    font-size: 1.1em;
    text-align: center;
}

div.right a {
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    width: 9em;
    padding: 0.55em 0.3em;
    clear: both;
    text-align: center;
    margin: 0.5em 0.1em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

div.right a.facebook {
    background: #3a589a;
    margin-top: 0.8em;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

div.right a.facebook:hover {
    background: rgba(58, 88, 154, 0.8);
}

div.right a.twitter {
    background: #4099ff;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

div.right a.twitter:hover {
    background: rgba(64, 153, 255, 0.8);
}

div.right a.google-plus {
    background: #e9544f;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

div.right a.google-plus:hover {
    background: rgba(233, 84, 79, 0.8);
}

:root {
    --red-theme: rgb(116, 11, 8);
    --red-theme-light: rgba(116, 11, 8, 0.7)
}

.prop-upload {
    position: relative;
    top: 35px;
    margin: 20px;
}

#heading {
    text-transform: uppercase;
    color: var(--red-theme);
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: var(--red-theme-light);
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid var(--red-theme);
    ;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: var(--red-theme);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: var(--red-theme)
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: goldenrod;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000;
}

.card {
    z-index: 0;
    border: none;
    position: relative;
}

.fs-title {
    font-size: 25px;
    color: var(--red-theme);
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

.purple-text {
    color: var(--red-theme);
    font-weight: normal;
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

.fieldlabels {
    color: gray;
    text-align: left;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: var(--red-theme);
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: var(--red-theme);
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: var(--red-theme);
    width: 0;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

div.prop-table {
    width: 100%;
    text-align: center;
}

.divTable.prop-table .divTableCell,
.divTable.prop-table .divTableHead {
    border: 0px solid #AAAAAA;
    padding: 5px 6px;
}

.divTable.prop-table .divTableBody .divTableCell {
    font-size: 14px;
}

/* DivTable.com */
.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}

.slider-wrapper {
    position: relative;
    width: 75px;
    border: 2px solid #ccc;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
}

.obsolete-checkbox {
    display: none;
}

input.obsolete-checkbox[type=checkbox]:checked+label .slider-options {
    left: -45px;
}

.full-checkbox {
    display: inline;
}

.slider-options {
    position: relative;
    left: 0;
    z-index: 6;
    white-space: nowrap;
    -ms-transition: left 0.2s ease-in-out;
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
}

.slider-option-selector {
    display: inline-block;
    width: 25px;
    background: #fff;
}

.slider-option-no,
.slider-option-yes {
    display: inline-block;
    width: 35px;
    padding: 5px;
    text-align: center;
}

.slider-option-yes {
    color: #fff;
    background: #0a0;
}

.slider-option-no {
    color: #aaa;
    background: #ddd;
}



.login-login .login-signup {
    padding: 0 0 25px;
}

.login-login .btn-success {
    background: #aa9144;
    border-radius: 0;
    border: 2px solid #aa9144;
    webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login-login .btn-success:hover,
.login-login .btn-success:focus {
    background: rgba(26, 161, 157, 0);
    border: 2px solid #1aa19d;
    webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #23bab5;
}

.login-login a {
    color: #aa9144;
}

.login-login ul {
    list-style-type: none;
}

.login-login article[role="login"] {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
    webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 30px 50px;
    margin-bottom: 20px;
}

.login-login article[role="login"] input[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
}

.login-login article[role="login"]:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 1px 15px rgba(0, 0, 0, 0.23);
    webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login-login article[role="login"] h3 {
    font-size: 26px;
    font-weight: 300;
    color: #23bab5;
    margin-bottom: 20px;
}

.login-login article[role="login"] p {
    font-size: 16px;
    padding: 5px 15px;
}

.login-login .nav-tab-holder {
    padding: 0 0 0 30px;
    float: right;
}

.login-login .nav-tab-holder .nav-tabs {
    border: 0;
    float: none;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.login-login .nav-tab-holder .nav-tabs>li {
    margin-bottom: -3px;
    text-align: center;
    padding: 0;
    display: table-cell;
    float: none;
    padding: 0;
}

.login-login .nav-tab-holder .nav-tabs>li>a {
    background: #d9d9d9;
    color: #6c6c6c;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}

.login-login .nav-tab-holder .nav-tabs>li.active>a,
.login-login .nav-tabs>li.active>a:hover,
.login-login .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #23bab5;
    border: 0;
    border-radius: 0;
}

.login-login .mobile-pull {
    float: right;
}

.login-login article[role="manufacturer"] {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
    padding: 0 0 40px;
    max-width: 420px;
    margin: -45px auto 0;
}

.login-login article[role="manufacturer"] header {
    background: #23bab5;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
}

.login-login article[role="manufacturer"] h1 {
    font-size: 26px;
    font-weight: 300;
    border-bottom: 1px solid #f2f2f2;
    padding: 25px 15px;
}

.login-login article[role="manufacturer"] ul {
    padding: 0 25px;
}

.login-login article[role="manufacturer"] ul li {
    font-size: 16px;
    border-bottom: 1px solid #eaeaea;
    padding: 20px 15px;
    color: #404040;
}

.login-login article[role="manufacturer"] ul li i {
    color: #23bab5;
}

.login-login .login-signup {
    padding: 0 0 25px;
}

@media only screen and (max-width: 767px) {
    .login-login .mobile-pull {
        float: none;
    }

    .login-login .nav-tab-holder {
        float: none;
        overflow: hidden;
    }

    .login-login .nav-tabs>li>a {
        font-size: 13px;
        font-weight: 600;
        padding: 10px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .login-login .nav-tabs>li {
        width: 50%;
    }
}